@page "{restaurantId}"
@model OdeToFood.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

@* sle note: By default the layout (masterpage) in _ViewStart is used. In a page without a masterpage, then the following code should set to null. Standard HTML head & body element are then required.*@
@*@{
    Layout = null;
}*@


<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Restaurant.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="List" class="btn btn-outline-primary">Cancel</a>
</form>
