@page
@model ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>



@*sle note: notice how the @ gives access to C# blocks. and when placed in front of a string the data is simply output into html.
    for example, in the code below, '@restaurant.name' would write the resturant's name onto the page.*@

@foreach (var restaurant in Model.Restaurants)
{
    // sle note: the below VS special html calls a partial view, found in
    // the same directory, called _Summary.cshtml. By convention (not enforced) partial
    // views prepended with '_'.
    // Note: 'var restaurant' is passed as a parameter (aka the Model);
    // _Summary.cshtml must have @using OdeToFood.Core and @model Restaurant to find the Type.
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-outline-primary">Add New</a>

@section footer {
    <!-- SLE note: if surrounded in a at@section, then, instead of being placed in the  at@RenderBody(), is placed in the footer section in _layout.cshtml, as defined by at@RenderSection("footer", required: false)-->
    <!-- SLE note: at@Model.Message is pulled from the attribute of the List.cs, which in this case is from config["Message"]; -->
    <div>@Model.Message</div>
    <p>This is a foot test</p>
}
@section footer2 {
    <!-- SLE note: if surrounded in a at@section, then, instead of being placed in the  at@RenderBody(), is placed in the footer section in _layout.cshtml, as defined by at@RenderSection("footer", required: false)-->
    <!-- SLE note: at@Model.Message is pulled from the attribute of the List.cs, which in this case is from config["Message"]; -->
    <div>@Model.Message</div>
    <p>This is a sle note: to hands-on demonstrate how (AT)Section works with  (AT) RenderSection("footer2", required: false) on the _List.cshtml </p>
}